<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="conteiner_adeudo_registrar">
<table align="center" width="780" border="1" cellspacing="2">
    <tbody>
        <tr>
            <td colspan="15" align="center">
                <strong>Horario de Reinscripcion AGO - DIC/2023</strong>
            </td>
        </tr>
        <tr>
            <td colspan="5" align="center"></td>
            <td colspan="4" align="center">
                <strong>ADEUDOS</strong>
                <br>
                N=NO ADEUDO, S=SI ADEUDO
            </td>
        </tr>
        <tr>
            <td align="center" width="270">Nombre</td>
            <td align="center" width="150">Fecha</td>
            <td align="center" width="80">Hora</td>
            <td align="center" width="150">Mensaje Adicional</td>
            <td align="center" width="80">Autorizado</td>
            <td align="center" width="80">Biblioteca</td>
            <td align="center" width="80">Escolares</td> 
            <td align="center" width="80">Financieros</td> 
            <td align="center" width="80">Encuesta</td> 
        </tr>
        <tr>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center">
                <input type="text">
            </td>
            <td align="center"><input type="text" name="" id=""></td>
            <td align="center"><input type="text" name="" id=""></td>
            <td align="center"><input type="text" name="" id=""></td>
            <td align="center"><input type="text" name="" id=""></td>
        </tr>
    </tbody>
</table>
</div>