<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="container_historia">
  <div class="titulo_principal">
    <h1 class="titulosub">HISTORIA ACADEMICA</h1>
  </div>

<div class="conteiner-historia-academica">
  <form class="historia_alumno" action="" name="historia_alumno">
    <table width="95%">
      <tbody>
        <tr>
          <th>No.Control S.E.P</th>
          <th>NOMBRE DEL ALUMNO</th>
          <th>SEMESTRE</th>
          <th>PERIODO ESCOLAR</th>
          <th>PROM.ACUM</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="3">CARRERA</th>
          <th colspan="2">ESPECIALIDAD</th>
        </tr>
        <tr>
          <td colspan="3" align="center"></td>
          <td colspan="2" align="center"></td>
        </tr>
        <tr>
          <th colspan="3">CURP</th>
        </tr>
        <tr>
          <td colspan="3" align="center"></td>
        </tr>
      </tbody>
    </table>
   </form>
</div>
</div>