<div class="sidebar">
  <div class="scroll-container">
    <div class="list-container">
      <ul>
        <li>
          <input type="checkbox" name="list-item-1" id="list-item-1" />
          <label for="list-item-1">
            <span class="material-icons-outlined unselectable sidebar-icon"
              >chevron_right</span
            >
            MANTENIMIENTO
          </label>
          <!-- AQUI EMPIEZA "ul" DE MANTENIMIENTO -->
          <ul>
            <li>
                <input type="checkbox" name="list-item-4" id="list-item-4" />
                <label for="list-item-4"> Alumnos </label>
                <ul>
                  <li><a routerLink="/home/alta-alumnos">Alta Alumnos</a></li>
                  <li><a routerLink="/home/modificaciones-alumnos">Modificaciones de Datos del Alumno</a>
                  <ul><li><a routerLink="/home/datos-socioeconomicos">Datos Socioeconomicos</a></li></ul></li>
                  <li><a routerLink="">Eliminacion de Alumnos</a></li>
                  <li><a routerLink="">Adeudos</a>
                  <ul>
                    <li>
                      <a href="/home/adeudos">Registrar</a>
                      <a href="/home/consultar">Consultar</a>
                    </li>
                  </ul></li>
                  <li><a routerLink="/home/descuentos">Descuentos</a></li>
                  <li><a routerLink="/home/listado-descuentos">Listado Descuentos</a></li>
                </ul>
              </li>
            <li>
              <a routerLink="/home/historia-academica">Historia Academica</a>
            </li>

            <li>
              <a routerLink="/home/edificios">Calificaciones y Actas</a>
            </li>

            <li>
              <input type="checkbox" name="list-item-4" id="list-item-4" />
              <label for="list-item-4"> Inscripciones </label>
              <ul>
                <li><a routerLink="">Enero-Junio||Agosto-Diciembre</a></li>
                <li><a routerLink="">Verano</a></li>
                <li><a routerLink="">Autorizaciones Acádemicas</a></li>
                <li><a routerLink="">Problemas Reinscripciones</a></li>
                <li><a routerLink="">Ajuste de Capacidad de grupos</a></li>
              </ul>
            </li>

            <li>
              <a routerLink="/home/Aulas">Carreras</a>
            </li>

            <li>
              <a routerLink="/home/Aulas">Especialidades</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Plan Curricular</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Solicitud Examenes</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Periodos Escolares</a>
            </li>

            <li>
              <a routerLink="/home/Aulas">Registro Aspirantes</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Cierre de Semestre</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Postgrado</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Linea de Trabajo e investigacion</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Mapa Curricular</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">Becas</a>
            </li>
            <li>
              <a routerLink="/home/Aulas">SGC</a>
            </li>
          </ul>  
          <!-- AQUI EMPIEZA EL "ul" DE MANTENIMIENTO -->
        </li>

        <li>
          <input type="checkbox" name="list-item-6" id="list-item-6" />
          <label for="list-item-6">
            <span class="material-icons-outlined unselectable sidebar-icon"
              >chevron_right</span
            >
            CONSULTAS
          </label>
          <ul>
            <li><a routerLink="/home/materias">Materias</a></li>
            <li><a routerLink="/home/especialidades">Especialidades</a></li>
            <li><a routerLink="">Departamentos</a></li>
            <li><a routerLink="">Carrera</a></li>
            <li><a routerLink="/home/Alumnos">Alumnos</a></li>
            <li><a routerLink="">Alumnos con materias de prioridad</a></li>
          </ul>
        </li>

        <li>
            <input type="checkbox" name="list-item-7" id="list-item-7" />
            <label for="list-item-7">
              <span class="material-icons-outlined unselectable sidebar-icon"
                >chevron_right</span
              >
              DOCUMENTOS OFICIALES
            </label>
            <ul>
              <li><a routerLink="/home/materias">Constancias</a></li>
              <li><a routerLink="/home/especialidades">Boleta de Calificaciones</a></li>
              <li><a routerLink="">Acta de Calificaciones</a></li>
              <li><a routerLink="">Certificados</a></li>
              <li><a routerLink="/home/Alumnos">Acta de Residencia</a></li>
              <li><a routerLink="">Constancia titulacion</a></li>
              <li><a routerLink="">Constancia de NO adeudo</a></li>
            </ul>
          </li>

        <li>
          <input type="checkbox" name="list-item-12" id="list-item-12" />
          <label for="list-item-12">
            <span class="material-icons-outlined unselectable sidebar-icon"
              >chevron_right</span
            >
            UTILERÍAS
          </label>
          <ul>
            <li><a routerLink="">Cambiar Contraseña</a></li>
          </ul>
        </li>

        <li class="cerrar">
          <input type="checkbox" name="list-item-13" id="list-item-13" />
          <label for="list-item-13">
            <span class="material-icons-outlined unselectable">logout</span
            >CERRAR SESIÓN</label
          >
        </li>
      </ul>
    </div>
  </div>
</div>
